body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck {
  display: flex;
  width: 800px;
  height: 220px;
  gap: 10px;
}

.section {
  background: #1e1e1e;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s ease;
  cursor: pointer;
  width: 100%;
}

.section-header {
  font-weight: bold;
  margin-bottom: 10px;
}

.cards {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.expanded {
  flex: 3;
}

.collapsed {
  flex: 1;
}

.collapsed .cards {
  overflow: hidden;
}

.expanded .cards {
  flex: 1;
  overflow-x: auto;
}

.cards::-webkit-scrollbar {
  height: 6px;
}

.cards::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}


.card {
  min-width: 170px;
  height: 170px;
  background: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  cursor: pointer;
}



.card.flipped {
  transform: rotateY(180deg);
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  backface-visibility: hidden;
  border: 3px solid #c9a44c;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: end;
}

.card-front img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}


.info-btn {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #6b3fa0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 2px solid gold;
  z-index: 10;
  cursor: pointer;
}

.card-back {
  transform: rotateY(180deg);
  background: linear-gradient(135deg, #6b3fa0, #9c4dcc);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-back h3 {
  text-align: center;
  border-bottom: 1px solid gold;
  padding-bottom: 6px;
}

.card-back p {
  flex: 1;
  margin: 5px;
  font-size: 16px;
  margin-top: 10px;
}

.card-back .footer {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
}