* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f8f1e5;
}

.container {
  text-align: center;
  padding: 40px;
  width: 420px;

  background: #fffaf0;
  border: 3px solid #c9a227;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.title {
  font-size: 32px;
  color: #6b21a8;
}

.subtitle {
  margin-bottom: 30px;
  color: #555;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.primary-btn {
  background: #7c3aed;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.secondary-btn {
  background: #0ea5e9;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #6d28d9;
}

.secondary-btn:hover {
  background: #0284c7;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.modal-content {
  background: #fffaf0;
  padding: 25px;
  border-radius: 14px;
  width: 400px;

  border: 2px solid #c9a227;
}

input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;

  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Modal Buttons */
.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-btn {
  background: #dc2626;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}