@import "../../../styles.css";

:root {
  --cell-size: 120px;
  --gap: 10px;
}

.board-container {
  background-color: var(--bg-surface);
  padding: 50px;
  border: 2px solid var(--green);
}

#board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, var(--cell-size));
  gap: var(--gap);
}

.halfTile {
  width: 40px;
  height: 40px;
  background: var(--gold-light);
  position: absolute;
  clip-path: polygon(20px 20px, 40px 40px, 0 40px);
}

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.rotate270 {
  transform: rotate(270deg);
}

.rotate315 {
  transform: rotate(315deg);
}

.rotate45 {
  transform: rotate(45deg);
}

.rotate225 {
  transform: rotate(225deg);
}

.rotate135 {
  transform: rotate(135deg);
}

.octagon:hover {
  transform: scale(1.05);
}

.board-deck .tile {
  width: 52px;
  height: 52px;
  background: var(--gold-light);
  transform: rotate(45deg);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-icon {
  position: absolute;
  top: 0px;
  right: 8px;
  font-size: 38px;
  z-index: 999;
}

.tile-value {
  transform: rotate(-45deg);
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
}

.octagon {
  width: 100%;
  height: 100%;
}

.dot {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}