.deck {
  display: flex;
  width: 100%;
  height: 190px;
  gap: 10px;
}

.panel {
  flex: 1;
  background: var(--green);
  border-radius: 16px;
  padding: 10px;
  overflow: hidden;
  transition: flex 0.5s ease;
  display: flex;
  align-items: center;
}

.panel.expanded {
  flex: 3;
}

.cards {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  transition: all 0.4s ease;
}

.cards::-webkit-scrollbar {
  display: none;
}

.panel.expanded .cards {
  overflow-x: auto;
  gap: 10px;
}

.panel.expanded .card-item {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: calc(100% / 3.3);
  height: 100%;
  border-radius: 12px;
  flex-shrink: 0;
  max-width: 160px;
  background-color: var(--purple);
  border: 2px solid var(--gold-light);
  cursor: pointer;
}

.panel.expanded .card-item .card-item-top {
  display: flex;
  justify-content: space-between;
}

.panel.expanded .card-item .card-item-bottom {
  display: flex;
  justify-content: space-between;
}

.panel.expanded .card-item .card-item-top .card-pointer {
  height: 20px;
  width: 20px;
  background-color: var(--gold-light);
  border-radius: 25px;
  text-align: center;
}

.panel.expanded .card-item .card-item-bottom .card-item-button-area {
  height: 40px;
  width: 20px;
  background-color: var(--gold-light);
  border-radius: 25px;
  text-align: center;
}

.panel:not(.expanded) .cards {
  justify-content: center;
  cursor: pointer;
}

.panel:not(.expanded) .card-item {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  position: absolute;
  height: 90%;
  border-radius: 12px;
  background-color: var(--purple);
  border: 2px solid var(--gold-light);
  transition: transform 0.4s ease;
}

.panel:not(.expanded) .card-item:nth-child(1) {
  transform: scale(1);
  z-index: 3;
}

.panel:not(.expanded) .card-item:nth-child(2) {
  transform: translateX(20px) scale(0.9);
  z-index: 2;
}

.panel:not(.expanded) .card-item:nth-child(3) {
  transform: translateX(40px) scale(0.8);
  z-index: 1;
}

.panel:not(.expanded) .card-item:nth-child(n+4) {
  display: none;
}

.design-cards .card-item {
  background: var(--gold-light);
}

.action-cards .card-item {
  background: var(--gold-light);
}

.placeholder {
  min-width: calc(100% / 3.3);
  height: 100%;
  border: 2px dashed #aaa;
  border-radius: 12px;
  flex-shrink: 0;
}

.abs {
  position: absolute;
  z-index: 4;
}

.design {
  padding: 5px;
  background-color: var(--gold-light);
  display: grid;
  grid-template-columns: repeat(5, 25px);
  justify-content: center;
  align-items: center;
  row-gap: 4px;
  border-radius: 5px;
  width: 85%;
}

.color-item {
  background-color: red;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
