.dice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  background-color: whitesmoke;
}

.dice-color {
  width: 50%;
  height: 50%;
  border-radius: 999px;
}

#dice {
  cursor: pointer;
  width: 40%;
}

.premium-move {
  box-shadow: 0em 0em 1em 0.4em purple !important;
}
.jump-move {
  box-shadow: 0em 0em 1em 0.4em green !important;
}
.normal-move {
  box-shadow: 0em 0em 1em 0.4em gold !important;
}

.tooltip {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: rotate(-45deg) translateX(-70%) translateY(-225%);
  background-color: #ccc;
  backdrop-filter: blur(10px);
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
